{% extends 'overall/layout' %}
{% block appBody %}
   <main class="container-fluid">
		<div class="row">
		{% include 'overall/menu' %}
			<article class="col-md-9 col-sm-9 main-content" role="main">
				<header>
					<h1>Introducción</h1>
					<h2>¿Qué es Ocrend Framework?</h2>
					<p>Es un framework sencillo y robusco, escrito en <strong>PHP 7</strong> que utiliza la arquitectura <strong>MVC</strong> y componentes de Symfony como base de su aplicación en el desarrollo web, adicionalmente pretende acelerar el proceso de desarrollo con unas cuantas herramientas. La curva de aprendizaje es bastante baja, el concepto del framework es ofrecer una arquitectura de sencillo manejo, inclusive para aquellos que jamás han programado utilizando MVC.</p>
				</header>
				<section>
					<h2>¿Por qué utilizarlo?</h2>
					<ul>
						<li>No requiere manejo de una shell (aunque existe la posibilidad con un pequeño programa escrito en php por consola)</li>
						<li>Es pequeño y de muy fácil aprendizaje</li>
						<li>Es eficiente y seguro</li>
						<li>Fomenta la creación de código limpio, comentado, bien estructurado y eficiente</li>
						<li>Se configura en 1 minuto</li>
						<li>No estás interesado en librerías gigantes como PEAR</li>
						<li>No estás interesado en aprender un framework gigante como Symfony, Laravel o ZendFramework</li>
						<li>No necesitas gestionar rutas usando namespaces o requires/includes, el framework lo hace por tí</li>
						<li>Incluye Silex en sus dependencias, para manejo de API REST correctamente configurado</li>
						<li>Soporte de múltiples bases de datos con distintos motores usando PDO <strong>simultáneamente</strong>
							<ul>
								<li>MySQL 5.1+</li>
								<li>Oracle</li>
								<li>PostgreSQL</li>
								<li>MS SQL</li>
								<li>SQLite</li>
								<li>CUBRID</li>
								<li>Interbase/Firebid</li>
								<li>ODBC</li>
							</ul>
						</li>
					</ul>
					<h2>Requisitos</h2>
					<p>Para colocar el framework se requiere un servidor que cumpla con las siguientes características:</p>
					<ul>
						<li>PHP 7</li>
						<li>APACHE 2</li>
						<li>Cualquier motor de base de datos de los mencionados anteriormente</li>
					</ul>
				</section>
			</article>
		</div>
	</main>
{% endblock %}