<!DOCTYPE html>
<html lang="es">
  <head>
    <base href="{{ constant('URL') }}" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Documentación oficial de Ocrend Framework, Framework MVC Escrito en PHP 7 ideal para principiantes y expertos en desarrollo web con PHP y PDO.">
    <meta name="keywords" content="documentacion,framework,php 7,ocrend,curso,español,pdo,herramientas,programación">
    <meta name="application-name" content="{{ constant('APP') }}" />
    <meta name="author" content="www.ocrend.com" />

    <title>{{ constant('APP') }}</title>

    <!-- Styles -->
    <link href="views/assets/css/theDocs.all.min.css" rel="stylesheet">
    <link href="views/assets/css/theDocs.css" rel="stylesheet">
    <link href="views/assets/css/custom.css" rel="stylesheet">
    <link href="views/assets/css/skin-ocrend.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500%7CLato:300,400' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link type="image/x-icon" href="views/favicon.ico" rel="shortcut icon" />
    <link href="views/app/images/apple-touch-icon.png" rel="apple-touch-icon-precomposed" />

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
<body>
{% include 'overall/topnav' %}
{% block appBody %}
{% endblock %}
{% include 'overall/footer' %}
</body>
</html>